<!DOCTYPE html>
<html lang="en">

<head>
    <title>Voter lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
    {% block other_css %}{% endblock %}
</head>

<body>
<div class="container">

    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">friend your vote </a>
    </span>
    </nav>
    
    <div class="row">
      <div class="col-md-12"> 
        {% block middle_text %}{% endblock %}
      </div>
    </div>

    <div class="row">
        <div class="table-responsive col-md-6"> 
            {% block table %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block extra_content %}
            {% endblock %}
        </div>
            <div
               class="fb-like"
               data-share="true"
               data-width="400"
               data-show-faces="true">
            </div>
    </div>
<center><a href="http://www.friendyourvote.com/motivation.html">Motivation</a>  |  <a href="http://www.friendyourvote.com/analytics.html">Analytics</a>  |  <a href="http://www.friendyourvote.com/FAQ.html">FAQ</a>  |  <a href="http://www.samleitner.com">Author</a></center>
              
</div>
<script src="http://code.jquery.com/jquery.min.js"></script> 
<script src="/static/list.js"></script>
{% block other_js %}{% endblock %}

</body>

</html>
