<!DOCTYPE html>
<html lang="en">

<head>
    <title>voter lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
    <link href="starter-template.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <!-- # this is the top bar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target\
="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Friend Your Vote</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <li><a href="http://www.friendyourvote.com/motivation.html">Motivation</a></li>  
              <li><a href="http://www.friendyourvote.com/analytics.html">Analytics</a></li>  
              <li><a href="http://www.friendyourvote.com/FAQ.html">FAQ</a></li>  
              <li><a href="http://www.samleitner.com">Author</a></li>
          </ul>
<!--
             {% if user and not user.is_anonymous %}
                <span class="navbar-text navbar-right">
                  <a href="logout_view">Logout {{user.username }}</a>
                </span>
              {% else %}
                <a class="btn navbar-btn navbar-right" id="id_login" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter login</a>
              {% endif %}
-->
        </div><!--/.nav-collapse -->
    </nav>
<p><br><p><br>
    <!-- # this is the container for the form -->


      <div class="row marketing">
        <div class="col-lg-6">
                <h2>{% block header_text %}{% endblock %}</h2>
                Enter voter data:
                {% block list_form %}
                <form class="form-inline" role="form" method="POST" action="{% block form_action %}{% endblock %}">
                  <div class="form-group">
                    {{ form.firstname }}<br>
                    {{ form.lastname }}<br>
                    {{ form.zipcode }}<br>
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="form-group has-error">
                            <div class="help-block">{{ form.firstname.errors }}</div>
                            <div class="help-block">{{ form.lastname.errors }}</div>
                            <div class="help-block">{{ form.zipcode.errors }}</div>
                        </div>
                    {% endif %}
                  </div><br>
                <button type="submit" class="btn btn-default">Submit</button>
                </form>
        </div>
        <div class="col-lg-6">
          {% if user and not user.is_anonymous %}
             {% load staticfiles %}
             <a href="/new_member_list">
               <h2>See your New York network</h2>
               <br>
               <img alt="friends list" src="{% static "voter.jpg" %}" width="300" ><br>
              <!-- <img border="0" alt="friends list" src="/static/voter.jpg" width="300" ><br> this works fine on the server-->
             </a>
               <p><br><p>
                  <a href="logout_view">Logout {{user.username }}</a>
<!--               <img border="0" alt="friends list" src="{% static "designfordemocracy1.jpg" %}" width="150" > 
  -->
          {% else %}
             <p><br><p><br><p><br><p><br>
             {% load staticfiles %}
             <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
             <img border="0" alt="twitter login" src="{% static "sign-in-with-twitter-gray.png" %}" width="200" ><br>
             </a>
          {% endif %}
        </div>
      {% endblock %}
      </div>
<p><br><p>
    <!-- this is the results table or just a bar -->
    <div class="row">
        <div class="table-responsive col-md-6"> 
            {% block table %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block extra_content %}
            {% endblock %}
        </div>
            <div
               class="fb-like"
               data-share="true"
               data-width="400"
               data-show-faces="true">
            </div>
    </div>
<center><a href="http://www.friendyourvote.com/motivation.html">Motivation</a>  |  <a href="http://www.friendyourvote.com/analytics.html">Analytics</a>  |  <a href="http://www.friendyourvote.com/FAQ.html">FAQ</a>  |  <a href="http://www.samleitner.com">Author</a></center>
<!-- <a href="http://www.friendyourvote.com/testlogin.html">testlogin</a> -->
              
</div>
<!-- console complains about this; ignore it: -->
<script src="http://code.jquery.com/jquery.min.js"></script> 
<script src="/static/list.js"></script>
<!--
<div id="fb-root"></div>
<script src="/static/fblogin.js"></script>
<script src="/static/fb.js"></script>
-->
</body>

</html>
