{% extends 'basenoj.html' %}

{% block header_text %}{% endblock %}
{% block middle_text %}

<h2>Frequently asked questions</h2> <p>
<h4>Why doesn't X work?</h4> <p>
This page is very much pre-alpha form. It exists as a demo only at this point. If you have stumbled upon it, please come back in a couple of months for the complete, interesting, and functional version. 
<h4>What are your data sources?</h4> <p>
<li>
<ul><a href="http://www2.sos.state.oh.us/pls/voter/f?p=111:1:0::NO:RP:P1_TYPE:STATE">Ohio <a>
</li>
 <p>
{% endblock %}
{% block form_action %}{% endblock %}
{% block extra_content %}
{% endblock %}
