{% extends 'base.html' %}

{% block header_text %}
{% endblock %}

{% block list_form %}
<h2>Registered Voters</h2>
The table lists registered voters in New York State, with rows colored by voting likelihood. N/A indicates elections before the voter was locally registered. The table is searchable by birthdate (xx/xx/xxxx), but birthdate is not shown to protect voter privacy.
</div>
<div class="col-lg-6">
<br><br><br>
<span class="label label-success">>90%</span> volunteer 
<span class="label label-info">75%-90%</span> likely 
<span class="label label-warning">25%-75%</span> mobilizable 
<span class="label label-danger"><25%</span> unlikely
<br>
<a href="/">restart search</a>
</div>
{% endblock %}
{% block form_action %}{% url 'view_list' list.id %}{% endblock %}
{% block table %}
<br>
<table id="id_list_table" class="table table-hover table-bordered ">
      <thead>
        <tr> 
          <th rowspan="2" style="vertical-align:middle;"> voting likelihood </th>
          <th rowspan="2" style="vertical-align:middle;"> name </th>
          <th rowspan="2" style="vertical-align:middle;"> location </th>
          <th rowspan="2" style="vertical-align:middle;"> birth date </th>
          <th colspan="4" style="vertical-align:middle;"><center> voting history </center></th> 
          <th rowspan="2" style="vertical-align:middle;"> contact </th> 
        </tr>
        <tr> 
          <th>2014</th><th>2012</th><th>2010</th><th>2008</th>
        </tr>
      </thead>
      <tbody>
        {% for voter in list.voter_set.all %}
          {% if voter.prob > 89.5 %}
          <tr class="success">
          {% elif voter.prob > 74.5 %}
          <tr class="info">
          {% elif voter.prob > 24.5  %}
          <tr class="warning">
          {% else %}
          <tr class="danger">
           {% endif %}


           <!--<td> {{ forloop.counter }} </td> -->
           <td> <center>{{ voter.prob|floatformat:"0"  }}% </center></td>
             <td> {{ voter.firstname }} {{ voter.middlename }} {{ voter.lastname }}</td> 
           <td> {{ voter.city }}, NY {{ voter.zip }} </td>
           <td>{{ voter.DOB }}</td>

           {% if voter.G2014 == 1 %}
               <td>  ✓ </td>
           {% elif voter.G2014 == 0 %}
               <td> - </td>
           {% elif voter.G2014 == -1 %}
               <td> N/A </td>
           {% endif %}
           {% if voter.G2012 == 1 %}
               <td> ✓ </td>
           {% elif voter.G2012 == 0 %}
               <td> - </td>
           {% elif voter.G2012 == -1 %}
               <td> N/A </td>
           {% endif %}
           {% if voter.G2010 == 1 %}
               <td> ✓ </td>
           {% elif voter.G2010 == 0 %}
               <td> - </td>
           {% elif voter.G2010 == -1 %}
               <td> N/A </td>
           {% endif %}
           {% if voter.G2008 == 1 %}
               <td> ✓ </td>
           {% elif voter.G2008 == 0 %}
               <td> - </td>
           {% elif voter.G2008 == -1 %}
               <td> N/A </td>
           {% endif %}


           <td> <a href="https://twitter.com/intent/tweet?button_hashtag=friendyourvote&text=placeholder%20for%20a%20direct%20message%20"  data-related="SamNLeitner">Tweet @ </a> <!--class="twitter-hashtag-button"-->
           </td>

          </tr>
        {% endfor %}
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </tbody>
    </table>

    {% if list.owner %}
        <p>List owner: <span id="id_list_owner">{{ list.owner.email }}</span><p>
    {% endif %}
{% endblock %}

{% block extra_content %}
<!--
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
 
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Brenden Wagner</td>
                <td>Software Engineer</td>
                <td>San Francisco</td>
                <td>28</td>
                <td>2011/06/07</td>
                <td>$206,850</td>
            </tr>
            <tr>
                <td>Fiona Green</td>
                <td>Chief Operating Officer (COO)</td>
                <td>San Francisco</td>
                <td>48</td>
                <td>2010/03/11</td>
                <td>$850,000</td>
            </tr>
            <tr>
                <td>Shou Itou</td>
                <td>Regional Marketing</td>
                <td>Tokyo</td>
                <td>20</td>
                <td>2011/08/14</td>
                <td>$163,000</td>
            </tr>
         </tr>
        </tbody>
    </table>
-->

{% endblock %}
