{% extends 'base.html' %}

{% block header_text %}
{% endblock %}

{% block list_form %}
<h2>Registered Voters</h2>
The table below lists registered voters in New York State, with rows colored by expected probability of participating in the 2016 presidential election. N/A indicates elections before the voter was locally registered. The table is searchable by birthdate (xx/xx/xxxx), but birthdate is not shown to protect voter privacy.
</div>
<div class="col-lg-6">
<br><br><br>
Note that predicted likelihoods are based on a voters entire history, including election data not displayed in the table. The data is subject to updates to 2014 turnout.<br>
<span class="label label-success">>75%</span> likely voter
<!--<span class="label label-info">75%-90%</span> likely -->
<span class="label label-warning">25%-75%</span> mobilizable voter
<span class="label label-danger"><25%</span> unlikely voter
<br>
<h3><a href="/">restart search</a></h3>
</div>
{% endblock %}
{% block form_action %}{% url 'view_list' list.id %}{% endblock %}
{% block table %}
<br>
<table id="id_list_table" class="table table-hover table-bordered ">
      <thead>
        <tr> 
          <th rowspan="2" style="vertical-align:middle;"> voting likelihood </th>
          <th rowspan="2" style="vertical-align:middle;"> name </th>
          <th rowspan="2" style="vertical-align:middle;"> location </th>
          <th rowspan="2" style="vertical-align:middle;"> birth date </th>
          <th colspan="4" style="vertical-align:middle;"><center> voting history </center></th> 
          <th rowspan="2" style="vertical-align:middle;"> contact </th> 
        </tr>
        <tr> 
          <th>2014</th><th>2013</th><th>2012</th><th>2011</th>
        </tr>
      </thead>
      <tbody>
        {% for voter in list.voter_set.all %}
          {% if voter.prob > 89.5 %}
          <tr class="success">
          {% elif voter.prob > 74.5 %}
          <tr class="success"> <!--info-->
          {% elif voter.prob > 24.5  %}
          <tr class="warning">
          {% else %}
          <tr class="danger">
           {% endif %}


           <!--<td> {{ forloop.counter }} </td> -->
           <td> <center>{{ voter.prob|floatformat:"0"  }}% </center></td>
             <td> {{ voter.firstname }} {{ voter.middlename }} {{ voter.lastname }}</td> 
           <td> {{ voter.city }}, NY {{ voter.zip }} </td>
           <td>{{ voter.DOB }}</td>

           {% if voter.G2014 == 1 %}
               <td>  ✓ </td>
           {% elif voter.G2014 == 0 %}
               <td> - </td>
           {% elif voter.G2014 == -1 %}
               <td> N/A </td>
           {% endif %}
           {% if voter.G2013 == 1 %}
               <td> ✓ </td>
           {% elif voter.G2013 == 0 %}
               <td> - </td>
           {% elif voter.G2013 == -1 %}
               <td> N/A </td>
           {% endif %}
           {% if voter.G2012 == 1 %}
               <td> ✓ </td>
           {% elif voter.G2012 == 0 %}
               <td> - </td>
           {% elif voter.G2012 == -1 %}
               <td> N/A </td>
           {% endif %}
           {% if voter.G2011 == 1 %}
               <td> ✓ </td>
           {% elif voter.G2011 == 0 %}
               <td> - </td>
           {% elif voter.G2011 == -1 %}
               <td> N/A </td>
           {% endif %}



           <td> <a href="https://twitter.com/intent/tweet?screen_name={{ voter.firstname }}&text=vote%20with%20me%20on%20Tuesday?" data-related="SamNLeitner">Tweet @{{ voter.firstname }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
           </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if list.owner %}
        <p>List owner: <span id="id_list_owner">{{ list.owner.email }}</span><p>
    {% endif %}
{% endblock %}

{% block extra_content %}

{% endblock %}
