{% extends 'basenoj.html' %}

{% block header_text %}{% endblock %}
{% block middle_text %}

<h2>Motivation</h2><p>
Voter turnout is low in the US. Midterm elections typically draw about 40 percent of the eligible public and in 2014 <a href=http://www.washingtonpost.com/blogs/post-politics/wp/2014/11/10/voter-turnout-in-2014-was-the-lowest-since-wwii/>turnout was only 36.4 percent</a> nationally, <a href=http://www.nytimes.com/2014/11/12/opinion/the-worst-voter-turnout-in-72-years.html>down to 28.8% in New York</a> . Social pressure has been shown to successfully and dramatically <a href="http://isps.yale.edu/research/publications/isps08-001#.VGGBB1PF-bQ"><it>motivate potential voters</a>. Share this app and help leverage social pressure to increase civic engagement in our democracy.
<p>
{% endblock %}
{% block form_action %}{% endblock %}
{% block extra_content %}
{% endblock %}
