{% extends 'basenoj.html' %}

{% block other_css %}
    <link href="/static/nv.d3.css" rel="stylesheet" media="screen">
{% endblock %}
{% block header_text %}{% endblock %}
{% block middle_text %}


<h2>Site Usage</h2> 

Friend your vote is a tool to help mobilize voters by providing easy access to public voting records along with some context, and twitter interaction. Currently, data is only available for New York State.
The site can either be used to look up specific voters, or you can populate a look up table with the people you follow on twitter using the button on the right. The following screen-cast steps through the sites main features.
<p>
{% endblock %}
{% block form_action %}{% endblock %}
{% block extra_content %}{% endblock %}
{% block other_js %} 
{% endblock %}

